@media screen and (max-width: 993px) {
    .projects__content{
        grid-template-columns: repeat(2, 1fr);
    }

    .about__info {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 600px) {
    .projects__content{
        grid-template-columns: repeat(1, 1fr);
    }

    .about__info {
        grid-template-columns: repeat(1,1fr);
    }

    .header__open,
    .header__close {
        display: block;
    }

    .header__nav-list {
        position: absolute;
        flex-direction: column;
        width: 50%;
        height: 162px;
        top: 0;
        right: -70%;
        padding: 16px 0;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        background-color: #FFF;
        border-radius: 5px;
        justify-content: flex-end;
        transition: 0.3s;
    }

    .header__open{
        padding: 8px 16px;
        font-size: 1rem;
    }

    .header__list {
        text-align: right;
    }

    .show-menu {
        right: 0.5rem;
    }

    .header__close {
        position: absolute;
        top: 35px;
        right: 25px;
    }
}